.productlist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}

.productcard {
    position: relative;
    height: 100%;

    &__wrapper {
        height: 100%;
        box-shadow: 0px 2px 5px 0px #A5A9B04D;
        border-radius: 6px;
        padding: 4px;
        display: flex;
        gap: 4px;

        @include tablet {
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        @include desktop {

        }

        &:hover {
            h4 {
                color: $color-main;
            }
        }
    }

    &__info {
        padding: 16px 0;
        flex-grow: 1;
        .description {
            color: $color-gray-text;
            margin-bottom: 4px;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 0;
        }
    }

    &__resizer {
        display: flex;
        flex-direction: column;
        justify-content: end;
        .text {
            font-size: 12px;
            line-height: 18px;
        }
        @include tablet {
            height: 100%;
        }
    }

    &__tocart {
        padding: 4px 0;

        &__mobile {
            font-family: 'Roboto';
            display: block;
            font-size: 16px;
            line-height: 20px;
            width: 120px;
            @include tablet {
                display: none;
            }
        }

        &__desktop {
            display: none;
            width: 100%;
            max-width: 240px;
            padding: 9px 0;
            @include tablet {
                display: block;

            }
        }

    }

    &__tags {
        position: absolute;
        top: 9px;
        left: 8px;
        svg {
            width: 12px;
            @include tablet {
                width: 24px;
            }
            path {
                fill: $color-gray;
            }
        }
        @include desktop {
            display: none;
        }
    }

    &__price {
        display: none;
        @include tablet {
            display: block;
        }

        p {
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            margin-bottom: 12px;
        }
    }

    &__render {
        @include tablet {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
        }
        @include desktop {
            width: 80%;
        }
    }

    .render {

        &__wrapper {
            width: 100px;
            height: 100px;
            padding: 8px;
            @include tablet {
                width: 100%;
                height: 100%;
            }

            div {
                background-image: url('/images/size-circles.png');
                background-size: cover;
            }

        }

        &__image {
            width: 70px;
            padding: 3px 0 0 3px;
            object-fit: cover;
            transition: all .1s ease-in-out;

            @include tablet {
                width: 80%;
                padding: 4% 0 0 4%;
                height: auto;
                aspect-ratio: 1 / 1;
            }

            &__md {
                transform: scale(115%);
                @include tablet {
                    transform: scale(120%);
                }
            }
            &__lg {
                transform: scale(135%);
                @include tablet {
                    transform: scale(140%);
                }
            }
        }
    }

    .resizer {

        &__wrapper {
            width: fit-content;
            display: flex;
            gap: 2px;
            background-color: $color-gray-bg;
            padding: 2px;
            border-radius: 4px;
            margin-bottom: 12px;
        }

        &__select {
            cursor: pointer;
            padding: 5px 0;
            width: 52px;
            border-radius: 4px;

            .text {
                font-size: 12px;
                line-height: 18px;
                font-weight: 700;
                text-align: center;
                color: $color-gray-text;
            }

            &.active {
                background-color: white;
                .text {
                    color: black;
                }
            }


        }
    }

}
